#footer {
  padding: 152px 0;
  overflow: hidden;
  
  background: #b1b59e url("../img/footer/footer-bg.jpg") center no-repeat;
  background-size: cover;
  
  .subscribe {
    width: 670px;
    margin: 0 auto;
    padding: 60px 70px;
    text-align: center;
    background-color: $grass;
    opacity: .9;
    transition: .6s linear;
    
    @media ( max-width: 650px ) {
      width: 100%;
      padding-right: 30px;
      padding-left: 30px;
    }
    
    .descr {
      margin-bottom: 42px;
      font-family: $poppins;
      font-size: 16px;
      line-height: 30px;
      color: #fff;
    }
    
    .personal {
      margin-bottom: 40px;
    }
    
    .name,
    .email {
      padding: 12px 40px;
      font-family: $poppins;
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
      color: #fff;
      background-color: darken($grass, 5%);
      border: 1px solid #5f6d71;
      border-radius: $radius-md;
    }
    
    .name {
      float: left;
      width: 48%;
    }
    
    .email {
      float: right;
      width: 48%;
    }
    
    .btn {
      padding-right: 90px;
      padding-left: 46px;
    }
  }
  
  .subscribe-show {
    transform: translateY(0);
    opacity: .9;
  }
  
  .subscribe-hide {
    transform: translateY(300px);
    opacity: 0;
  }
}
