extends ./layout.jade

block content
  
    // STORY-X SECTION
    article.story.story-x
      p.sect-descr Travel

      div.story-content.cf
        div.story-text
          h2.sect-header Nullam id dolor id nibh ultricies vehicula ut id elit.

          p.text Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.

          p.text Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

          a.btn(href="#") Full story

        figure.story-image.image
          img.img(src="/static/img/stories/story1.jpg", alt="Geyser", title="Geyser")


    // STORY-Y SECTION 
    article.story.story-y
      p.sect-descr Travel

      h2.sect-header Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum.

      figure.story-image.image
        img.img(src="/static/img/stories/story2.jpg", alt="Geyser", title="Geyser")

      p.text Donec aredsed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.

      p.text Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.

      a.btn(href="#") Full story




    // VIDEO SECTION
    div.video
      div.video-overlay.hide-overlay
        a.video-btn(href="#")

      iframe(width="100%", height="auto", src="https://www.youtube.com/embed/nQ2L6_sTul8", frameborder="0")




    // QUOTE SECTION    
    article.quote
      div.quote-wrapper

        figure.quote-image.image
          img.img(src="/static/img/stories/story1.jpg", alt="Geyser")

        div.quote-header
          p.sect-descr Quote
          h2.sect-header Nullam id dolor id nibh ultricies vehicula elit.

      div.quote-text
        blockquote
          p.text “Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor”
          footer
            span.author VEN diesel
            span.date 1962-2006

        a.btn(href="#") Full Story