footer#footer
  form.subscribe(action="POST")
    p.descr Like what you're reading? Get weekly updates that will help you grow as a designer.
        
    div.personal.cf
      input.name(type="text", placeholder="Name")
        
      input.email(type="email", placeholder="Email", required)
        
    button.btn(type="submit") Subscribe