header#header
  h2.main-title Story
    
  button.nav-toggle(type="button")
    span
    span
    span
    span
    span
    span
      
  nav.main-navigation.navigation-hide
    ul.nav-list
      li
        a(href="#main") Stories
          
      li
        a(href="#") has not been defined yet
          
      li
        a(href="#") has not been defined yet
          
      li
        a(href="#") has not been defined yet
          
      li
        a(href="#footer") Subscribe