//color
$grass: #273d46;
$neon: #80b7b3; 

//font-family
$playfair: 'Playfair Display', 'Arial', serif;
$poppins:  'Poppins', sans-serif;

//font-weight
$weight-bold: 700;
$weight-med: 500;
$weight-norm: 400;

//radius
$radius-round: 50%;
$radius-md: 30px;
$radius-sm: 5px;

//width
$width-max: 1440px;
$width-md: 768px;
$width-min: 480px;